.footer {
  font-family: $text-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 0.1rem $secondary-text-color;
  background-color: blue;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.25rem 3rem 0.5rem 3rem;
  }
  @include desktop {
    padding: 0.25rem 6rem 0.5rem 6rem;
  }
  &__title {
    color: $secondary-text-color;
    padding-top: 50px;
    font-size: 15px;
    @include tablet {
      grid-column: 1;
      grid-row: 1;
      padding-top: 0rem;
      font-size: 13px;
    }
  }
  &__link {
    margin-bottom: 27px;
    padding-top: 15px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.43;
    text-align: center;
    @include tablet {
      text-align: right;
      padding-top: 0rem;
      line-height: 2rem;
      grid-column: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &__item a {
      text-decoration: none;
      color: $primary-text-color;
    }
  }
}
