.hero {
  background-image: url("../../images/backgrounds.jpg");
  max-width: 100%;
  height: 26rem;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__div {
    @include tablet {
      opacity: 0.7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__text {
      font-family: $text-font;
      background-color: $tertiary-color;
      margin: 0 1rem 0 1rem;
      text-align: left;
      padding: 1.3rem 0.7rem 0.7rem 0.7rem;
      font-size: 18px;
      font-weight: bolder;
      line-height: 1.39;
      transform: translateY(50%);
      @include tablet {
        margin: 0 17rem 0 2.8rem;
        padding: 1rem 1rem 0.7rem 2rem;
        transform: translateY(0%);
      }
      @include desktop {
        font-size: 24px;
        padding: 1rem 1rem 0.7rem 2rem;
        margin: 0 17rem 0 2.3rem;
      }
    }
  }
}
