.members {
  margin-bottom: 2rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  &__title {
    padding: 2.37rem 0 2.7rem 0;
    background-color: $tertiary-color;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: $text-title;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
      padding: 3.7rem 0 2.3rem 0;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem 2rem 1.5rem;

    @include tablet {
      margin-bottom: 6rem;
      height: 13rem;
      display: grid;
      grid-template-columns: 16rem 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b .""a c c""a d .";

      @include desktop {
        grid-template-columns: 18rem 1fr 1fr;
        margin-bottom: 8rem;
      }

      &:nth-child(odd) {
        grid-template-columns: 1fr 1fr 16rem;
        grid-template-areas: ". b a""c c a"". d a";
        text-align: right;
        justify-items: end;

        @include desktop {
          grid-template-columns: 1fr 1fr 18rem;
        }
      }
    }

    &__img {
      width: 13rem;
      height: 13rem;
      border: solid 0.5rem $details-color;
      border-radius: 4px;
      object-fit: cover;

      @include tablet {
        grid-area: a;
      }

      @include desktop {
        width: 15rem;
        height: 15rem;
      }
    }

    &__div {
      &__name {
        font-weight: bold;
        color: $membersname-color;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: $text-font;
        font-size: 20px;

        @include tablet {
          padding-top: 0;
          text-align: revert;
          grid-area: b;
        }
      }

      &__text {
        font-size: 16px;
        text-align: center;
        font-family: $text-font;

        color: $primary-text-color;
        line-height: 1.5;

        @include tablet {
          text-align: revert;
          grid-area: c;
        }
      }
    }
  }
}

.members__socials {
  padding-top: 20px;
  padding-bottom: 23px;
  display: flex;
  gap: 10px;
  color: $primary-color;
  text-align: center;

  @include tablet {
    display: inline-flex;
    grid-area: d;

  }

  @include desktop {
    gap: 0.7rem;
  }

  &__items {
    &__icon {
      color: $primary-color;

      @include desktop {
        transform: scale(1.2);
        padding: 0.3rem;
      }
    }
  }
}

.withDot::after {
  font-weight: bolder;
  content: '·';
  margin: 0 0.2rem 0 0.5rem;

  @include desktop {
    margin: 0 0.15rem 0 0.6rem;
  }
}