
/*fuentes*/

$text-title: 'Rubik', sans-serif;
$text-font: 'Open Sans', sans-serif;

/*Colors*/ 

$secondary-color: #ACD2ED;
$primary-color: #566B87;
$primary-text-color: #54585a;
$secondary-text-color: #b8b8b9;
$tertiary-color: white;
$fourth-color: #EFF1F5;
$membersname-color: #021228;
$membersphoto-color: #e8e8e8;
$details-color: #566B87;

/*Colors for header*/
$primary-header: rgba(172, 210, 237, 0.8);
$secondary-header:  rgba(130, 154, 185,0.7); 

